---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout
  title="About | Allison Harrison"
  description="About Allison Harrison"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="My Persona" tagline="Excuse the small sample size.">
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Allison Harrison at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">About Me</h2>
        <div class="content">
          <p>
            I am a user researcher with a passion for finding and eliminating
            all of the little things that just make life harder than it needs to
            be. I love figuring out what makes people tick and learning how they
            do whatever it is they do.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <strong>Lehigh Univerity</strong> - BS Psychology & BA Cognitive
            Science
          </p>
          <p>
            <strong>Carnegie Mellon</strong> - Masters in Human Computer
            Interaction
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Work Experience</h2>
        <div class="content">
          <p>
            I have spent over a decade improving user experience at companies
            such as ADP, Samsung, and Audible.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Roles and Responsibilities</h2>
        <div class="content content-list gap-20">
          <ul>
            <li>Amplify the voice of the user</li>
            <li>Foster an environment of empathy</li>
            <li>Develop and execute mixed methods research plans</li>
            <li>Conduct one-on-one interviews</li>
            <li>Lead Design Thinking workshops and Concept Sprints</li>
            <li>Facilitate focus groups</li>
            <li>Create, distribute, and analyze quantitative surveys</li>
            <li>Summarize and present findings to project stakeholders</li>
            <li>
              Establish and track product usability benchmarks and baselines
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Research Skill Set</h2>
        <div class="content content-list gap-20">
          <ul>
            <li>User persona creation</li>
            <li>Journey mapping</li>
            <li>Usability testing</li>
            <li>Card sorting exercises</li>
          </ul>
          <ul>
            <li>Think-aloud studies</li>
            <li>Click tests</li>
            <li>Survey design</li>
            <li>Heuristic evaluations</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Favorite Tools</h2>
        <div class="content content-list gap-20">
          <ul>
            <li>UserZoom</li>
            <li>Miro</li>
            <li>Qualtrics</li>
          </ul>
          <ul>
            <li>Figma</li>
            <li>InVision</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Motivators</h2>
        <div class="content content-list gap-20">
          <ul>
            <li>Giving users a better experience</li>
            <li>Ensuring my team prioritizes the most impactful things</li>
            <li>Learning the broader context behind how products are used</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Additional Info</h2>
        <div class="content">
          <p>
            When I'm off the clock you can find me skating for <a
              href="https://dirtyjerseyrollerderby.com/"
              target="_blank">Dirty Jersey Roller Derby</a
            >. If you're in town come watch a bout!
          </p>
        </div>
      </section>

      <CallToAction href="/assets/resume.pdf">Resume</CallToAction>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content-list {
    display: flex;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }
  .content > p {
    margin-bottom: 1rem;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
