---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout
  title="About | Allison Harrison"
  description="About Allison Harrison Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Allison Harrison at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>I currently work as a placeholder 1</p>
          <p>
            Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Eget
            gravida cum sociis natoque penatibus. Cras fermentum odio eu feugiat
            pretium nibh. Proin nibh nisl condimentum id venenatis. Porta nibh
            venenatis cras sed felis eget velit. Id diam vel quam elementum
            pulvinar etiam non.
          </p>
          <p>
            When I'm off the clock you can find me skating for the <a
              href="https://dirtyjerseyrollerderby.com/"
              target="_blank">Dirty Jersey Roller Derby</a
            > team. If you're in town come watch a bout!
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <strong>Lehigh Univerity</strong> - BS Psychology & BA Cognitive
            Science
          </p>
          <p>
            <strong>Carnegie Mellon</strong> - Masters in Human Computer
            Interaction
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>Usability Testing</li>
            <li>Contextual Inquiry</li>
            <li>Wireframes</li>
            <li>User Persona Creation</li>
            <li>Journey Mapping</li>
            <li>Survey Design</li>
          </ul>
        </div>
      </section>

      <CallToAction href="/assets/resume.pdf">Resume</CallToAction>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }
  .content > p {
    margin-bottom: 1rem;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
