---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import ProjectSelect from "../components/ProjectSelect.astro";
---

<BaseLayout
  title="My Work | Allison Harrison"
  description="Learn about Allison Harrison's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="Here's some of what I've been working on."
        align="start"
      />
      <ProjectSelect />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
