---
import { projects } from "../content/_projects";
import Pill from "./Pill.astro";
---

<div>
  {
    projects.map(project => (
      <section class="flex justify-around my-6">
        <a class="card md:flex w-full" href={`/work/${project.slug}`}>
          <div class="md:w-1/2 p-10 flex flex-col justify-between">
            <h3 class="mb-3">{project.title}</h3>
            <p>{project.teaser}</p>
          </div>
          <div class="px-7 flex justify-around md:w-1/2 items-center">
            <div>
              {project.sections.map(section => (
                <div class="my-1">
                  <Pill>{section}</Pill>
                </div>
              ))}
            </div>
            <div class="ml-2">
              <img
                src="/assets/logos/adp.png"
                class="h-24 w-auto object-contain"
                alt="adp logo"
              />
            </div>
          </div>
        </a>
      </section>
    ))
  }
</div>

<style>
  .card {
    padding: 1rem;
    max-width: auto;
    min-height: auto;
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-sm);
    text-decoration: none;
    font-family: var(--font-brand);
    font-size: var(--text-lg);
    font-weight: 500;
    transition: box-shadow var(--theme-transition);
  }

  .card:hover {
    box-shadow: var(--shadow-md);
  }
</style>
