---
import { projects } from "../../content/_projects";
import ProjectPageLayout from "../../layouts/ProjectPageLayout.astro";

const project = projects[3];
---

<ProjectPageLayout project={project}>
  <h2>Product</h2>
  <p>
    DevX, a tool used by ADP developers to leverage technical services for their
    products
  </p>
  <h2>Research Goals</h2>
  <p>
    Gain a better understanding of the different kinds of DevX users, their
    goals, and the pain points they currently face; including both the users
    responsible for making services available (Service Owners), and the ones
    consuming services (Customers)
  </p>
  <h2>Methods</h2>
  <p>One-on-one interviews, small group interviews, surveys</p>
  <img src="/assets/devx-personas.png" alt="devx personas" />
</ProjectPageLayout>
