---
import { projects } from "../../content/_projects";
import ProjectPageLayout from "../../layouts/ProjectPageLayout.astro";

const project = projects[0];
---

<ProjectPageLayout project={project}>
  <div>test</div>
</ProjectPageLayout>
