---
import { projects } from "../../content/_projects";
import ProjectPageLayout from "../../layouts/ProjectPageLayout.astro";

const project = projects[0];
---

<ProjectPageLayout project={project}>
  <h2>Product</h2>
  <p>
    Henry, a tool used by ADP customer service representatives to track case
    notes about issues that clients call about
  </p>
  <h2>Research Goals</h2>
  <p>
    Gain a better understanding of the different kinds of Henry users, their
    goals, and the pain points they currently face
  </p>
  <h2>Methods</h2>
  <p>
    One-on-one interviews with 15 current Henry users from a cross section of
    different job roles
  </p>
</ProjectPageLayout>
