---
import { projects } from "../../content/_projects";
import ProjectPageLayout from "../../layouts/ProjectPageLayout.astro";

const project = projects[4];
---

<ProjectPageLayout project={project}>
  <h2>Project Background</h2>
  <p>
    ADP is responsible for handling tens of thousands of communications between
    their clients and state or federal tax agencies. Issues may take weeks to
    resolve or have severe consequences if not handled correctly. ADP associates
    needed improved tools for tracking and communicating about these issues,
    both internally and with clients.
  </p>
  <h3>Products</h3>
  <p>
    Various internal and client facing tools used to facilitate communication
    and tracking of issues between ADP, their clients, and tax agencies.
  </p>
  <h3>Research Goals</h3>
  <ul>
    <li>
      Map the entire process of receiving, addressing, and communicating about a
      tax notice.
    </li>
    <li>
      Identify all personas involved in the journey and understand their pain
      points.
    </li>
    <li>
      Communicate findings to project stakeholders and align on next steps.
    </li>
    <li>Validate designs created in response to the previous steps.</li>
  </ul>

  <h2>Discovery</h2>
  <h3>Steps Taken</h3>
  <p>
    After business stakeholders provided high-level overviews of how the process
    was meant to work, I spoke with users to find out their lived experience
    through
  </p>
  <ul>
    <li>
      One-on-one interviews with clients and ADP associates about their past
      experiences dealing with agency notices.
    </li>
    <li>Seat rides with associates as they worked on notices.</li>
  </ul>
  <h3>Results</h3>
  <ul>
    <li>
      Two journey maps reflecting the distinct processes for small and large
      clients and detailing the painpoints faced by users along the way.
    </li>
    <img
      src="/assets/pictures/TaxNotices_AllJourneys.png"
      alt="A partial view of both user journeys."
      class="pointer"
      onclick="
      this.requestFullscreen()
      "
    />
    <li>
      Five distinct personas involved in one or both processes, including their
      responsibilities, motivators, and pain points.
    </li>
    <!-- <img
      src="/assets/pictures/TaxNotices_AllPersonas.png"
      alt="A collage of the 5 tax notices personas."
    /> -->
  </ul>

  <img
    src="/assets/pictures/TaxNotices_Combined.png"
    alt="A collage of personas and user journeys."
  />

  <h2>Synthesis</h2>
  <h3>Steps Taken</h3>
  <p>
    I helped facilitate a three-day concept sprint with participants
    representing UX, development, business stakeholders, and users. During the
    workshop, I
  </p>
  <ul>
    <li>Shared the findings from the Discovery phase.</li>
    <li>Moderated design thinking workshop activities.</li>
    <li>
      Helped in the creation of an initial design based on the ideas generated
      by participants.
    </li>
    <li>Conducted user testing to validate initial design.</li>
  </ul>
  <h3>Results</h3>
  <ul>
    <li>Team alignment on goals and priorities for the coming year.</li>
    <li>
      A design concept to get the UX teams on each of the involved products
      started.
    </li>
  </ul>
  <img
    src="/assets/pictures/TaxNotices_ConceptSprint.png"
    alt="Posters and whiteboards covered in post-it notes."
  />

  <h2>Design Iterations</h2>
  <h3>Steps Taken</h3>
  <p>
    After the concept sprint, I continued to work with the team focused on the
    ADP service associates' parts of the journey. My next steps included
  </p>
  <ul>
    <li>
      Helping to define the user stories that would need to be addressed by the
      new design.
    </li>
    <li>
      Conducting usability testing on the designs created to address those user
      stories.
    </li>
  </ul>
  <h3>Results</h3>
  <ul>
    <li>
      Short-term recommendations were implemented prior to launch of feature.
    </li>
    <li>Long-term recommendations entered into backlog for prioritization.</li>
  </ul>

  <img
    src="/assets/pictures/TaxNotices_NewDesign.png"
    alt="A screenshot of a website displaying the status of an agency notice."
  />

  <!-- <div class="container"> -->

  <!-- </div> -->

  <!-- 
  <h3>Current State Journey: Large Client</h3>
  <div class="container">
    <img src="/assets/tax-journey-1-sm.png" alt="tax journey one" />
  </div>
  <small>image scrolls right -&gt;</small>

  <h3>Current State Journey: Small Client</h3>
  <div class="container">
    <img src="/assets/tax-journey-2-sm.png" alt="tax journey two" />
  </div>
  <small>image scrolls right -&gt;</small> -->
</ProjectPageLayout>

<style>
  .container {
    width: 80vw;
    height: 87vh;
    overflow-x: scroll;
    white-space: nowrap;
  }
  img {
    /* height: 30vh; */
    /* max-width: none; */
  }
</style>
